/*Обнуление*/

*, *:before, *:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background-color: #fff;
    color: #333;
}

.main {
    position: relative;
    margin-top: 64px;
    margin-left: 32px;
}

.room {
    position: absolute;
    top: 0;
    left: 0;
}